/* body {
    margin: 0;
    border: 1px solid white;
}; */


.controls-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    
    height: 15vw;
    width: 100vw;
    
    background-color: #121212;
}

.sliders-container {
    display: flex;

    height: 12vw; 
    width: 90vw;

    border: 1px solid white;

    border-radius: 4px;
    transition-duration: 1s;
}

.sliders-container:hover {
    border: 1px solid white;
    
    border-radius: 10px;
    transition-duration: 1s;
}